body{
	background-color: lightgreen;
	margin: 0;
	height: 100hv;	
	display: flex;
	justify-content: center;
	align-items: center;
}

.fdvbgcenter{
	border-radius: 30px;
	padding: 70px;
	padding-top: 180px;
	padding-bottom: 180px;
	background-color: white;
	margin: 0;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.divspacingtxbx{
	padding-top: 25px;
}

input[type="text"]{
	padding: 5px 10px 5px 40px;
	border-bottom: 2px solid #d9d9d9;
}
input[type="password"]{
	padding: 5px 10px 5px 40px;
	border-bottom: 2px solid #d9d9d9;
}
input[type="text"]:focus{
	padding: 5px 10px 5px 40px;
	border-bottom: 2px solid red;
}
input[type="password"]:focus{
	padding: 5px 10px 5px 40px;
	border-bottom: 2px solid red;
}

.inputtxtbxstyle{
	height: 20px;
	border:none;
	background:none;
	outline: none;
	font-family: Poppins;
	font-size: 17px;
}

.icontxtstyle{
	width: 25px;
	height: 25px;
	color: grey;
	position: absolute;
	margin-top: 3px;
}

.btnmargintp{
	margin-top: 30px;
}

.buttonstyle{
	width: 265px;
	height: 40px;	
	background:green;
	font-size: 15px;
	color: white;
	border:none;
	font-family: Verdana;
	font-size: 15px;
	border-radius: 10px;
}
.buttonstyle:hover{
	width: 265px;
	height: 40px;	
	background:#1ec31e;
	font-size: 15px;
	color: white;
	border:none;
	font-family: Verdana;
	font-size: 15px;
	border-radius: 10px;
}
.buttonstyle:active{
	width: 265px;
	height: 40px;	
	background:lightgreen;
	font-size: 15px;
	color: white;
	border:none;
	font-family: Verdana;
	font-size: 15px;
	border-radius: 10px;
}